/*

Ethan Ernst & Roger Wang
2023-10-10
A temporary stylesheet containing all font-related CSS styling.

*/

/*
Unicode Range Supported by Roboto:
U+0000, U+0020-007E, U+00A0-017F, U+018F, U+0192, U+01A0-01A1, U+01AF-01B0,
U+01F0, U+01FA-01FF, U+0218-021B, U+0237, U+0259, U+02BC, U+02C6-02C7, U+02C9,
U+02D8-02DD, U+02F3, U+0300-0301, U+0303, U+0300, U+030F, U+0323, U+0384-038A,
U+038C, U+038E-03A1, U+03A3-03CE, U+03D1-03D2, U+03D6, U+0400-0486, U+0488-0513,
U+1E00-1E01, U+1E3E-1E3F, U+1E80-1E85, U+1EA0-1EFA, U+1F4D, U+2000-2011,
U+2013-2015, U+2017-201E, U+2020-2022, U+2025-202E, U+2030, U+2032-2033,
U+2039-203A, U+203C, U+2044, U+2074, U+207F, U+20A3-20A4, U+20A6-20AC, U+20B1,
U+20B9-20BA, U+20BC-20BD, U+2105, U+2113, U+2116, U+2122, U+2126, U+212E,
U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+221A, U+221E, U+222B,
U+2248, U+2260, U+2264-2265, U+25CA, U+EE01-EE02, U+F6C3, U+FB01-FB04, U+FEFF,
U+FFFC-FFFD

Source: https://www.fileformat.info/info/unicode/font/roboto/grid.htm
*/

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Light.woff") format("woff"),
        url("./fonts/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    unicode-range: U+00-52F, U+1E00-1FFF, U+2000–22FF, U+25CA, U+EE01-EE02, 
        U+F6C3, U+FB01-FB04, U+FEFF, U+FFFC-FFFD;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.woff") format("woff"),
         url("./fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    unicode-range: U+00-52F, U+1E00-1FFF, U+2000–22FF, U+25CA, U+EE01-EE02, 
        U+F6C3, U+FB01-FB04, U+FEFF, U+FFFC-FFFD;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.woff") format("woff"),
         url("./fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+00-52F, U+1E00-1FFF, U+2000–22FF, U+25CA, U+EE01-EE02, 
        U+F6C3, U+FB01-FB04, U+FEFF, U+FFFC-FFFD;
}