* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Roboto Mono", sans-serif;
}

body {
    background-color: #16445E;
}

nav {
    height: 80px;
    background: #051821;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
    /* line-height: 100px; */
    /* padding: 100 100px:  */
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

#nordpass-link {
    text-decoration: none;
    cursor: pointer;
    color:#4c8fc2;
}

.logo {
    font-family: "Monospace", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; 
    font-weight: 900;
    color: #000000;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: normal;
    padding: 1.5rem;
}

.TppLogo span {
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
}

.logo-box {
    width: 104px;
    height: 50px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 3px #57D7FF solid;
}

nav a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 0 1.5rem;
}

nav a:hover{
    color: #57D6FF
}

.ThePasswordProject-container {
    /* background-color: black; */
    width: 550px;
    height: 500px
}

.ThePasswordProject-container h1 {
    font-size: 120px;
    font-family: "Inter";
    font-weight: 400;
    filter: drop-shadow(0px 6px 6px #0D2D37);
    /* word-wrap: break-word; */
}

.hero {
    background: linear-gradient(180deg, #09202C 0%, rgba(22.65, 68.37, 94.08, 0) 100%);
}

.hero p {
    font-size: 28px;
    font-weight: 250;
    font-family: "Inter-Regular", Helvetica;
    color: white;
}

/* .center {
    display: flex;
    align-items: center;
    background-color: pink;
    width: 100px;
} */

.special-hidden {
    /* special code here */
    opacity: 0;
}

.appear {
    opacity: 1;
    transform: translateY(0px);
}

#mouse {
    /* background-color: purple; */
    width: 100%;
    flex: 1;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
    top: -30px;
    filter: drop-shadow(0px 5px 4px #0D2D37);
}

input#password-input {
    padding: 4px 8px;
    font-size: 16px;
    /* min-height: 24px; */
    min-width: 500px;
    margin: 0 auto;
    min-height: 50px;
    min-width: 700px;
    background: #E7EAEC;
    border-radius: 14px;
    border: 1px #FFFDFD solid;
}

#password-input:focus{
    box-shadow: 0px 0px 11px #57D7FF;
}

.content-container-hero {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* height: 95vh; */
    padding: 3rem calc((100vw - 1300px)/2) 0 calc((100vw - 1300px)/2);
    /* background-color: powderblue; */
}

.content-container-grid {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* height: 95vh; */
    padding: 3rem calc((100vw - 1300px)/2);
    justify-content: center;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: #000;
    padding: 0 2rem;
    flex: 4;
    height: 380px;
}

/* .column-left h1 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 35px;
} */

.column-left p {
    font-size: 15px;
}

.rectangle {
    /* width: 750px; */
    background-color: #FFFDFD;
    overflow-y: scroll;
    max-height: 380px;
    width: 750px;
    margin: 0 auto; 
    padding: 0;
    border: solid 1px white;
    border-radius: 5px;
}

.password-rectangle {
    background-color: white;
    overflow-y: scroll;
    max-height: 380px;
    width: 370px; 
    margin: 0; 
    padding: 0; 
    border: solid 1px #000;
    
}

.column-right-hero {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: flex-start;
    color: #000;
    padding: 0 2rem;
    flex: 4;
    /* justify-content: center; */
    align-self: center;
    min-height: 500px;
    /* background-color: pink; */
}

/* .column-right h1 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 35px;
} */

.button-container {
    /* flex: 1; */
    /* background-color: blue; */
    justify-content: space-between;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.button-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    /* background-color: indianred; */
    min-width: calc((100vw)/1.8);
    row-gap: 1rem;
    column-gap: 2rem;
}

/* only wrapping swat button, makes vertical spacing  */
.logo-button-holder  { 
    flex: none;
    height: 210px;
}

.logo-button {
    /* flex: none; */
    width: 180px;
    height: 180px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 18px;
    border: 4px #E7EAEC solid;
    /* justify-content: space-between; */

}

.logo-button:hover {
    /* background-color: rgba(173, 201, 211, 0.433); */
    /* background: rgba(231, 234, 236, 0);  */
    box-shadow: 0px 0px 7px 2px rgba(87, 215, 255, 0.58); 
    border-radius: 18px; 
    border: 4px #57D7FF solid;
}

.school-logo {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.content-container-full {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* background-color: pink; */
    padding: 3rem calc((100vw - 1300px)/2);
    justify-content: center;
}

.table {
    margin: 0 auto;
    width: 370px;
}

.rule-text {
    color:black;
}

tr.selected {
    background-color: rgb(181, 181, 181) !important;
    color: white !important;
}

.text-center {
    text-align: center;
  }

.btn-selected {
    /* background-color: rgba(173, 201, 211, 0.433); */
    background: rgba(87.23, 214.73, 255, 0.37); 
    box-shadow: 0px 0px 7px 2px rgba(87, 215, 255, 0.58); 
    border-radius: 18px; 
    border: 4px #57D7FF solid;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu {
    /* display: none;
    position: absolute; */
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 12px;
    padding-right: 8px;
    width: 310px;
    /* font-size: 16px; */
}

.eye {
    padding-left: 10px;
}

.eye:hover {
    cursor: pointer;
}

th,td {
    padding: 8px;
}

li {
    list-style-type: none;
    padding-left: 5px;
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "\2717";
}

.valid {
    color: limegreen;
}

.valid:before { 
    position: relative;
    left: -6px;
    content: "\2713";
}

.inactive {
    color: gray;
}

.inactive:before {
    position: relative;
    left: -6px;
    content: "/ ";
}

.nondeterministic {
    color: #FFC300;
}

.nondeterministic:before {
    position: relative;
    left: -6px;
    content: "! ";
}

.gradient-1 {
    width: 1512px; 
    height: 982px;
    background: linear-gradient(180deg, #09202C 0%, rgba(22.65, 68.37, 94.08, 0) 100%);
}

.pretty-school-name {
    font-size: 17px;
}

.pretty-p {
    font-size: 16px;
}

#footer-page1 {
   display: flex;
   justify-content: center;
}

.footer-p {
    /* padding: 10px; */
    /* margin: 0 auto; */
    color: #E7EAEC;
}

/* p {
    font-size: 14px;
    font-family: "Inter-Regular", Helvetica;
} */